Sistema de Automação com IA e Planilhas.json
{
  "name": "Sistema de Automação com IA e Planilhas",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar hoje?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ffed75a7-ba52-4735-a963-88733bbe49d4",
      "name": "When chat message received",
      "webhookId": "e855b1e5-ac15-44ee-ab55-0afdb6622d15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60fae328-9d9e-4b99-8f20-d52bdd841023",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "2a6272df-2993-474c-bd27-b693a889e2d8",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d38a60bf-1e5d-4057-b508-3694ecc96b11",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tJrDFzhpG36dc5KmFqSNXzLAYmps2oVzgFd-rqcxpkw",
          "mode": "list",
          "cachedResultName": "n8n - Tutorial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tJrDFzhpG36dc5KmFqSNXzLAYmps2oVzgFd-rqcxpkw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tJrDFzhpG36dc5KmFqSNXzLAYmps2oVzgFd-rqcxpkw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idConversa": "={{ $json.idConversa }}",
            "Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idConversa",
              "displayName": "idConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "cac6ea19-3341-42b9-bade-2e54310bf1da",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Th6vnkXtGI3moJLM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar as conversas mais humanizadas. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "ab6df579-ae52-4966-beaf-89dc52373db6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "41284775-2231-4cc7-a3e6-1f521be97d9b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mtosbqlgYbs8Gn0Y",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "dd9fda20-a538-48da-84e2-0b2ac4a8ce5d",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        992,
        208
      ],
      "id": "ca8dd8e5-f166-4d14-b0ab-b13de0f3cf76",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        848,
        208
      ],
      "id": "a2a13e98-e4ec-4ac8-9f4d-6b38e19cfae7",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "0ac980a9-8862-43b1-b5ec-95b19566e54f",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5e92ed5-8bca-4e27-bc53-f5e1c64c1ea2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19fadeabaf74e8e33b4465b07ad99e0548217f6985d3ae7b0784d470c2505b49"
  },
  "id": "OhBcuTZpoHUxwq75",
  "tags": []
}